<div class="col-4">
  <figure class="figure">
  <a href="<%=image_path(image)%>">
  	 <%= image_tag image.picture.thumb.url, class: 'figure-img img-fluid rounded'%>

  </a>
    <figcaption class="figure-caption"><%= image.description %>
      <%= link_to t('.edit_link'), edit_image_path(image) %>
      <%= link_to t('.remove_link'), image, method: :delete, data: { confirm: 'Esta seguro?'} %>
    </figcaption>
  </figure>
</div>